@font-face {
    font-family: Heading;
    src: url(../fonts/FFF_Tusj.ttf);
}

#header {
    margin-top: 50px;
    font-size: 5vmax;
    text-align: center;
    background: #333;
    color: white;
    font-family: Heading;
    text-shadow: 5px 7px 7px #000;
}

#textHead {
    margin-bottom: 0px;
    color: black;
    font-size: 3.7vh;
    margin-top: 25vmin;
    font-weight: 100;
}

#textSubHead {
    text-align: center;
    margin: 5vmax;
    margin-top: 25px;
    margin-bottom: 230px;
    font-size: 3vh;
}

.thumbnail {
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

#imgs {
    background: black;
    color: white;
}

.navbar-custom {
    background: #333;
}

a {
    color: white;
}

#btn1:hover {
    background: black;
    color: white;
    box-shadow: 5px 5px 30px #696969, -5px 5px 30px #696969;
}

.img {
    margin-top: 30px;
    margin-bottom: 30px;
    float: center;
    color: white;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.desc {
    padding: 15px;
    text-align: center;
}

.img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.3, 1.3);
    z-index: 1;
}

input[type=text] {
    margin-top: 12px;
    border: 2px solid #555;
    border-radius: 100px;
    height: 30px;
    padding-left: 20px;
    width: 60%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

a:hover {
    color: black;
}

#brand:hover {
    color: white;
}

#colorInput {
    width: 500px;
}

#colorChanger {
    width: 25vw;
}

#colorChanger:focus {
    width: 30vw;
}

#services {
    text-align: center;
    color: white;
    margin-top: 110px;
}

hr {
    width: 150px;
}

.about {
    margin-top: 100px;
    margin-bottom: 100px;
    background: white;
    text-align: center;
}

#textBody {
    background-image: url(../images/backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    box-shadow: 0px 4px 8px #999;
}

.social {
    width: 250px;
    height: 50px;
    margin-bottom: 30px;
    justify-content: center;
}

#socialLink:visited {
    color: black;
}

#socialButtons {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    opacity: 1;
    -webkit-transition: border-radius .5s;
    transition: border-radius .5s;
    transition-delay: 0s;
}

#AboutUs {
    padding-top: 65px;
}

#scrolldown {
    position: relative;
    top: -260px;
    margin-bottom: -300px;
    height: 50px;
}

#socialButtons:hover {
    border-radius: 100%;
}

.btnSlide {
    height: 10px;
    background-color: white;
}

#r2 {
    margin-top: -20px;
}

.row2 {
    display: none;
}

#searchIcon {
    position: fixed;
    top: 20px;
    margin-left: 7px;
}

.img-circle {
    position: relative;
    right: 10px;
    bottom: 5px
}

#colorScheme {
    position: fixed;
    left: -5px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0,0,0,0);
}

#clr1 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 200px;
    width: 50px;
    height: 40px;
    background: #333;
    border-radius: 0%;
    -webkit-transition: left 0.1s 0.1s, opacity 0.7s 0.1s;
    transition: left 0.7s 0.1s, opacity 0.7s 0.1s;
    border: 1px solid #333;
}

#clr2 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 241px;
    width: 49px;
    height: 40px;
    background: #0095FF;
    border-radius: 0%;
    -webkit-transition: left 0.7s 0.2s, opacity 0.7s 0.2s;
    transition: left 0.7s 0.2s, opacity 0.7s 0.2s;
    border: 1px solid #0095ff;
}

#clr3 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 282px;
    width: 50px;
    height: 40px;
    background: #F69C55;
    border-radius: 0%;
    -webkit-transition: left 0.7s 0.3s, opacity 0.7s 0.3s;
    transition: left 0.7s 0.3s, opacity 0.7s 0.3s;
    border: 1px solid #f69c55;
}

#clr4 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 323px;
    width: 50px;
    height: 40px;
    background: #cc0000;
    border-radius: 0%;
    -webkit-transition: left 0.7s 0.4s, opacity 0.7s 0.4s;
    transition: left 0.7s 0.4s, opacity 0.7s 0.4s;
    border: 1px solid #cc0000;
}

#grad1 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 370px;
    width: 50px;
    height: 40px;
    background: #6c5b7b;
    background: linear-gradient(#f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
    border-radius: 0%;
    -webkit-transition: left 0.7s .1s, opacity 0.7s .1s;
    transition: left 0.7s .1s, opacity 0.7s .1s;
    border: 1px solid #f69c55;
}

#grad2 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 411px;
    width: 50px;
    height: 40px;
    background: #99b898;
    background: linear-gradient(#99b898, #feceab, #ff847c, #e84a5f, #2a363b);
    border-radius: 0%;
    -webkit-transition: left 0.7s .2s, opacity 0.7s .2s;
    transition: left 0.7s .2s, opacity 0.7s .2s;
    border: 1px solid #f69c55;
}

#grad3 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 452px;
    width: 50px;
    height: 40px;
    background: #3eaca8;
    background: linear-gradient(#e5efc1, #a2d4ab, #3eaca8, #547a82, #5a5050);
    border-radius: 0%;
    -webkit-transition: left 0.7s .3s, opacity 0.7s .3s;
    transition: left 0.7s .3s, opacity 0.7s .3s;
    border: 1px solid #f69c55;
}

#grad4 {
    position: fixed;
    opacity: 0;
    left: -48px;
    top: 493px;
    width: 50px;
    height: 40px;
    background: #F9d423;
    background: linear-gradient(#e1f5c4, #ece473, #f9d423, #f6903d, #f05053);
    border-radius: 0%;
    -webkit-transition: left 0.7s .4s, opacity 0.7s .4s;
    transition: left 0.7s .4s, opacity 0.7s .4s;
    border: 1px solid #f69c55;
}

#colorScheme:focus ~ #clr1 {
    left: -5px;
    opacity: 1;
}

#colorScheme:focus ~ #clr2 {
    left: -4px;
    opacity: 1;
}

#colorScheme:focus ~ #clr3 {
    left: -5px;
    opacity: 1;
}

#colorScheme:focus ~ #clr4 {
    left: -5px;
    opacity: 1;
}

#colorScheme:focus ~ #grad1 {
    left: -5px;
    opacity: 1;
}

#colorScheme:focus ~ #grad2 {
    left: -5px;
    opacity: 1;
}

#colorScheme:focus ~ #grad3 {
    left: -5px;
    opacity: 1;
}

#colorScheme:focus ~ #grad4 {
    left: -5px;
    opacity: 1;
}

#img-gallery {
    background: #333;
    margin-bottom: 75px;
    box-shadow: 0px 4px 8px #999;
}

#navColor {
    background-color: rgba(51,51,51,.95);
}
#search {
    border:0px solid white;
}

.navbar-collapse.in {
    overflow: hidden;
}

.navbar-brand {
    font-family:'Covered By Your Grace', cursive;
    font-size: 25px;
}



